body {
  background-color: 212121;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: 212121
}

h1, h2 {
  color: 212121;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: 212121;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500
}

a:hover {
  color: white;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.card-white {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
  text-align: center;
  padding: 40px;
  margin: 20px 0px
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.btn-red {
  padding: 15px, 20px;
  border-radius: 4px;
  background-color: red;
}
